@{
    ViewBag.Title = "Acerca de";
}
<h2>Crazy-Lola, S.A. de C.V.</h2>
<h3>app de generación de cartas de renta</h3>
<br />
<p>Esta app tiene por objetivo facilitar la generación de cartas de renta para nuestros empleados en todo los paises donde opera la empresa.</p>
<br />
<p>Esta app ha sido posible gracias a los esfuerzos de:</p>
<p>All Dual Alvarenga Santos - AS90005</p>
<p>Jose Roberto Ayala Rosales - AR21106</p>
<p>Elvin Josue Morales Hernandez - MH16025</p>
