@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>ponte en contacto con nosotros:</h3>
<br />

<div class="row">
    <div class="col-md-4">
        <img src="~/images/dual.jpg" />
        <h4>All Dual Alvarenga Santos</h4>
        <h5>as90005@ues.edu.sv</h5>
    </div>
    <div class="col-md-4">
        <img src="~/images/ayala.jpg" />
        <h4>Jose Roberto Ayala Rosales</h4>
        <h5>ar21106@ues.edu.sv</h5>
    </div>
    <div class="col-md-4">
        <img src="~/images/elvin.jpg" />
        <h4>Elvin Josue Morales Hernandez</h4>
        <h5>mh16025@ues.edu.sv</h5>
    </div>
</div>