@{
    ViewBag.Title = "Inicio";
}

<div>
    <img src="~/images/logo.png" alt="crazy-lola" border="0" style="width:300px;height:100px;">
    <br />
    <br />
    <p class="lead">Bienvenido a la app de Crazy-Lola para la generacion de cartas de renta.</p>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Guia de usuario</h2>
        <p>Conoce como funciona la app y aprende a usarla con el manual de usuario.</p>
        <p><a class="btn btn-default" href="https://drive.google.com/file/d/1APYOuSYMvulG0VyfhS7QsBYOiZhUi2j_/view?usp=sharing" target="_blank">Ver manual de usuario &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manual técnico</h2>
        <p>Conoce el funcionamiento más detallado de la app aqui</p>
        <br />
        <p><a class="btn btn-default" href="https://drive.google.com/file/d/1f2KvVfmB05lZ4JVJlUGAvkH5Zc8idqjh/view?usp=sharing" target="_blank">Ver manual técnico &raquo;</a></p>
    </div>
</div>